#users-form.btn-group.pull-right
  - unless user_signed_in?
    %button#sign.btn.dropdown-toggle{ "data-toggle" => "dropdown" }
      %i.icon-user
      Login / Register 
    #sign-form.dropdown-menu.pull-right
      .form-new
        .row-fluid
          .span12
            .control-group
              #sign-in-up-button-grp.btn-group.nav-float.full-width{ 'data-toggle' => 'buttons-radio' }
                %button#sign-in.btn.half-width.active
                  Login
                %button#sign-up.btn.half-width
                  Register
        .row-fluid
          #login-form.span12.make-visible
            = simple_form_for resource_name, :url => session_path(resource_name) do |f|
              = f.error_notification
              = f.input :email
              = f.input :password
              = f.button :submit, "Login", :id => "user-sign-in-button"
        .row-fluid
          #register-form.span12
            = simple_form_for resource_name, :url => user_registration_path do |f|
              = f.error_notification
              = f.input :email
              = f.input :password
              = f.input :password_confirmation
              = f.button :submit, "Register", :id => "user-sign-up-button"
  - else
    %button#sign.btn.dropdown-toggle
      %i.icon-user
      User settings
    %ul#sign-form.dropdown-menu.pull-right
      %li
        = link_to 'My Posts', users_path
      %li
        = link_to 'Sign out', destroy_user_session_path, :method => :delete
