= simple_form_for resource do |f|
  = f.error_notification

  .form-inputs
    #post-type.btn-group.span12{"data-toggle" => "buttons-radio"}
      %button.btn.btn-primary.span6{:type => "button", :value => 0} Search
      %button.btn.btn-primary.span6{:type => "button", :value => 1} Give
    = f.input :kind, :as => :hidden
    = f.input :message, :as => :text, :input_html => { :rows => 5, :class => 'span12' }

    = f.button :submit
