.nav-float
  = link_to :offers, :class => 'btn' do
    %i.icon.icon-gift
  = link_to :posts, :class => 'btn' do
    %i.icon.icon-star
  = link_to :demands, :class => 'btn' do
    %i.icon.icon-shopping-cart

= form_tag posts_path, :remote => true, :method => 'get', :class => 'navbar-form nav-float' do
  = hidden_field_tag :kind
  = search_field_tag :query, '', :class => 'span5', :placeholder => 'Search'
  = button_tag(:type => 'submit', :class => 'btn', :id => 'submit-search') do
    %i.icon-search
